In [13]:
!pip install pytrends

Requirement already satisfied: pytrends in /opt/anaconda3/lib/python3.9/site-packages (4.8.0)
Requirement already satisfied: requests>=2.0 in /opt/anaconda3/lib/python3.9/site-packages (from pytrends) (2.26.0)
Requirement already satisfied: pandas>=0.25 in /opt/anaconda3/lib/python3.9/site-packages (from pytrends) (1.3.4)
Requirement already satisfied: lxml in /opt/anaconda3/lib/python3.9/site-packages (from pytrends) (4.6.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.25->pytrends) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.25->pytrends) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in /opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.25->pytrends) (1.20.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas>=0.25->pytrends) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/anaconda3/lib/python3.9/site-packages (from requests>=2.0->pytrends) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.9/site-packages (from requests>=2.0->pytrends) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from requests>=2.0->pytrends) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.9/site-packages (from requests>=2.0->pytrends) (2021.10.8)

## Add Necessary Imports

In [14]:
import pandas as pd
from pytrends.request import TrendReq

## Connect to Google

In [15]:
pytrend= TrendReq()

## Build Payload and Make Initial Hourly Request
I use the get_historical_interest API method to get hourly interest data related to the 'Bitcoin' keyword. I will make no other API calls for the rest of this notebook, being that this data is sufficient to derive all other desired data. I had to set the 'sleep' parameter to 0.2 to ensure that some time passes between successive API calls so that I don't get rate limited by Google. Also, to ensure this lengthy API call isn't done multiple times by accident, I check to see if df has already been initialized.

In [25]:
kw_list = ['bitcoin']
if(df is None):
    pytrend.build_payload(kw_list)
    df = pytrend.get_historical_interest(kw_list, year_start = 2015, month_start = 1, day_start = 1, hour_start = 0, year_end = 2022, month_end = 10, day_end = 1, hour_end = 11, sleep = 0.2)

## Hourly Interest
Basically just re-naming and dropping isPartial Column, also resetting index so date can be used for groupby

In [26]:
hourly_interest = df[['bitcoin']]
hourly_interest = hourly_interest.reset_index()
hourly_interest.rename(columns = {'date':'Hour', 'Bitcoin':'Interest'}, inplace = True)
hourly_interest

                     Hour  bitcoin
0     2015-01-01 00:00:00       45
1     2015-01-01 01:00:00       53
2     2015-01-01 02:00:00       82
3     2015-01-01 03:00:00       47
4     2015-01-01 04:00:00       30
...                   ...      ...
68331 2022-10-01 07:00:00       65
68332 2022-10-01 08:00:00       66
68333 2022-10-01 09:00:00       65
68334 2022-10-01 10:00:00       61
68335 2022-10-01 11:00:00       61

[68336 rows x 2 columns]

## Daily Interest
Just grouping hourly data by day using a custom grouper that groups based on a frequency; in this case, day is the frequency. This returns the daily average interest.

In [27]:
daily_interest = hourly_interest.groupby(pd.Grouper(key = 'Hour', freq = 'D')).mean()
daily_interest = daily_interest.reset_index()
daily_interest.rename(columns = {'Hour':'Day'}, inplace = True)
daily_interest

            Day    bitcoin
0    2015-01-01  42.291667
1    2015-01-02  43.250000
2    2015-01-03  48.375000
3    2015-01-04  59.708333
4    2015-01-05  60.250000
...         ...        ...
2826 2022-09-27  83.791667
2827 2022-09-28  80.791667
2828 2022-09-29  84.120000
2829 2022-09-30  82.166667
2830 2022-10-01  64.416667

[2831 rows x 2 columns]

## Weekly Interest
Just grouping hourly data by day using a custom grouper that groups based on a frequency; in this case, day is the frequency. This returns the daily average interest.

In [28]:
weekly_interest = daily_interest.groupby(pd.Grouper(key = 'Day', freq = 'W')).mean()
weekly_interest = weekly_interest.reset_index()
weekly_interest.rename(columns = {'Day':'Week Start (Sunday)'}, inplace = True)
weekly_interest

    Week Start (Sunday)    bitcoin
0            2015-01-04  48.406250
1            2015-01-11  46.624762
2            2015-01-18  49.491667
3            2015-01-25  45.688810
4            2015-02-01  61.229048
..                  ...        ...
400          2022-09-04  71.340714
401          2022-09-11  70.443810
402          2022-09-18  65.689048
403          2022-09-25  74.744048
404          2022-10-02  79.242222

[405 rows x 2 columns]

## Create and Write to CSV
I will create 4 csv files, because I am unsure what the assessment requires. I will make one where all the tables are appended to one another, and one for each table.

In [29]:
hourly_interest.to_csv('interest_data_hourly.csv', header = True, index = False)
hourly_interest.to_csv('interest_data_hourly.csv', header = True, index = False)
daily_interest.to_csv('interest_data_daily.csv', header = True, mode = 'a', index = False)
daily_interest.to_csv('interest_data_daily.csv', header = True, mode = 'a', index = False)
weekly_interest.to_csv('interest_data_weekly.csv', header = True, mode = 'a', index = False)
weekly_interest.to_csv('interest_data_weekly.csv', header = True, mode = 'a', index = False)

In [ ]:
df = pd.read_csv('interest_data.csv')